.user {
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

.user:hover {
    color: red; /* Change the color to match the eventual color palette */
}

.subtle {
    font-size: 0.8em;
    color: gray;
}