body {
    font-family: Calibri, arial, sans-serif;
    font-size: 18px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    height: 50px;
    background-color: #003957;
    padding: 5px;
    border-bottom: 5px solid #0097e8;
}

.main-section {
    margin-top: 50px;
}

.logo {
    background-image: url('./palm-white.png');
    height: 40px;
    width: 220px;
    margin: 5px auto;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    text-align: right;
    vertical-align: center;
    font-size: 32px;
    color: white;
}

.logo:hover {
    background-image: url('./palm-gold.png');
    color: #d4c158;
}

.first-letter {
    font-size: 1.3em;
}

.user {
    color: #003957;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
}

.user:hover {
    color: #0097e8;
}

.subtle {
    font-size: 0.8em;
    color: #d4c158;
}

.tweet {
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-top: none;
}